body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    border: 3px solid black;
    border-radius: 0.6rem;
    background-color: rgb(221, 22, 22);
}


.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    background-color: #d37676;
}

section {
    flex-basis: 57%;
    margin-right: 10%;
}
    
aside {
    flex-basis: 33%;
}
h1, h2, h3 {
    text-align: center;
} 
h4 {
    border-bottom: 4px dashed black;
}
li {
    list-style-type: none;
}
fieldset {
    border: 2px solid black; 
    border-left: 4px solid; 
    border-right: 4px solid;
    border-radius: 0.6rem; 
    margin-bottom: 3rem;
}
legend {
    font-weight: bold;
    font-size: 1.3rem;
    font-style: oblique;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
label {
    display: block;
    padding-bottom: 0.5rem;
}
p {
    margin-top: 2rem;
    margin-bottom: 0;
}
select {
    font-size: 0.9rem;
   
}
textarea {
    height: 5rem;
    padding: 1rem;
}
button {
font-size: 2rem;
margin: 2rem 0;
background-color: brown;
border: none;
border-radius: 0.6rem;
padding: 1rem 2rem;
font-family: 'Roboto Mono', monospace;
}
button:hover {
    background-color: rgb(221, 22, 22);
    color: seashell;
}
input:not([type=radio]):not([type=checkbox]), textarea, select {
    display: block;
    margin-bottom: 2rem;
    width: 20rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
    border-radius: 0.6rem;
    border: none;
}

@media only screen and (max-width: 768px) {
    
    
    body { font-size: 20px;
          
           width: 100%;
           scroll-behavior: smooth;
           border: none;
    }
     .wrapper {
        font-size: 15px;
        flex-direction: row;
        justify-content: center;
        width: 76%;
        margin: 2rem;
        border-radius: 1rem;
    
        
     }
     input:not([type=radio]):not([type=checkbox]), textarea, select {
        
        width: 10rem;
        font-size: 0.7rem;
        padding: 0.5rem;
        border-radius: 1.5rem;
        border: none;
    }
aside {
    margin: 0;
    position: absolute;
    width: 70%;
    
}
   .heading {
        margin-top: 500px;
        
    }

    iframe {
        width: 100%;
        border-radius: 0.5rem;
    }
  fieldset {
    width: 100%;
  }

  select {
    padding: 0.5rem;
   height: 30px;
  }
    button {
        width: 80%;
        margin-left: 1.5rem;
    }
    }
